<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" href="/css/common.css"></link>
<link rel="stylesheet" href="/css/user.css"></link>
</head>
<body>
	<div th:replace="~{user/fragments/header :: headerFragment}"></div>
	<section>
		<h2>관리자 로그인</h2>
		<form action="/signin" method="POST">
			<input type="text" name="username" placeholder="아이디를 입력하세요." /><br/>
			<input type="password" name="password" placeholder="비밀번호를 입력하세요." /><br/>
			<input type="submit" value="로그인" /> 
		</form>
		<p th:if="${msg != null}" th:text="${msg}"></p>
	</section>
</body>
</html>