<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>chat Page</h1>
	<hr/>
	    <button onclick="openChatbot()">챗봇 상담하기</button>

<script>
function openChatbot() {
	  const width = 500;
	  const height = 650;

	  // 화면 가운데 정렬
	  const left = (screen.width - width) / 2;
	  const top = (screen.height - height) / 2;

	  window.open(
	    "/chatbot",
	    "ChatbotWindow",
	    `width=${width},height=${height},left=${left},top=${top},resizable=yes,scrollbars=yes`
	  );
	}

</script>
</body>
</html>