<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="/css/common.css"></link>
<link rel="stylesheet" href="/css/user.css"></link>
</head>
<body>
	<div th:replace="~{user/fragments/header :: headerFragment}"></div>
	<div id="container">
		<section id="signup-type">
			<h2>회원가입 유형 선택</h2>
			<div class="btn-list">
				<a href="/signup/personal">개인</a>
				<a href="/signup/corporate/verify">기업</a>
			</div>
		</section>
	</div>
</body>
</html>