@font-face {
    font-family: 'BNKGothic';
    src: url('/fonts/BNKGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BNKGothic';
    src: url('/fonts/BNKGothic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'BNKGothic';
}

header {
	height: 80px;
	background-color: #ddd;
}

#body {
	display: flex;
	height: calc(100vh - 80px); 
	background-color: #f5f5f5;
}

.sidebar {
	width: 15%;
	height: 80%;
}

.content {
	width: 70%;
	background-color: #f5f5f5;
	padding: 20px;
}

.icon {
	width: 32px;
	height: 32px;
}